
@font-face {
  font-family: 'Gotham-title';
  src: url('../fonts/Gotham-title.otf') format('truetype');
}

@font-face {
  font-family: 'Gotham-text';
  src: url('../fonts/GothamHTF-Light_0.otf') format('truetype');
}


body {
  background-color: #161616 !important;
  font-family: 'Gotham', sans-serif;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* -------------SECTION HOME---------------- */
.home {
  background-color: #161616;
  background-image: url(../img/fondo-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Gotham', sans-serif;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 150px;
  margin-top: 20px;
}

.content-home{
  width: 70%;
}


.boton-home {
  width: 80%;
  margin-bottom: 80px;
}
.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  cursor: pointer;
}

.boton button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.boton button img {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {

  .content-home {
    width: 80%;
  }
  .boton-home{
    width: 60%;
    margin-bottom: 60px;
  }
  .logo img{
    width: 150px;
  }
}


/* -------------SECTION CLIENTS---------------- */

.clients {
  background-color: #161616;
  font-family: 'Gotham', sans-serif;
  width: 80%;
  height: AUTO;
  margin: 0;
  margin-top: 100px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 180px;
}

.paraquien {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.box-section{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;}

.left-section,
.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.box-mayor {
  width: 100%;
  height: 130px;
  margin-left: 120px;
  align-items: center;
  color: #F5FBEF;
  text-align: center;
  justify-content: space-between;
}

.box {
  width: 76%;
  margin-top: 50px;
  display: flex;
  color: #F5FBEF;
  justify-content: space-between;
  align-items: center;
}

.icon {
  padding: 10px;
  margin: 5px;
  width: 15px;
  background-color: none;
  border: 4px solid #d50616;
  border-radius: 100%;
}


.title-clients {
  text-align: left!important;
  font-family: 'Gotham', sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #F5FBEF;
  font-size: 15px;
  cursor: default;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.text-clients {
  width: 65%;
  font-family: 'Gotham-text', sans-serif;
  margin-top: 10px;
  margin-left: 20px;
  color: #F5FBEF;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.open {
  width: 25px;
  margin-top: auto;
  align-self: flex-start; 
  cursor: pointer;
  margin-left: auto;
}

.line {
  width: 75%;
  height: 1px;
  background-color: #d50616;
  margin-top: 20px;
  margin-left: 8px;
}

.icon,
.title-clients {
  flex-shrink: 0;
}



@media (max-width: 768px) {
  .box-img img {
    content: url('../img/paraquien-mobile.png');
    width: 100%;
  }
  .container{
    flex-direction: column;
    margin-bottom: 30px;
  }
  .clients{
    width: 100%;
    margin-left: 0px;
  }
  .icon{
    width: 10px;
  }
  .open{
    width: 15px;
    margin-top: 17px;
  }
  .title-clients{
    font-size: 15px;
  }
  .text-clients{
    width: 70%;
    font-size: 10px;
    margin-top: 5px;
    margin-left: 18px;
  }
  .box-section{
    width: 100%;
  }

  .box{
    width: 80%;
    margin-top: auto;
  }
  .box-mayor{
    margin-left: 100px;
    height: 100px;
  }
  .line{
    width: 80%;
  }
}


/* -------------SECTION FUNCTION---------------- */

.function {
  background-color: #161616;
  font-family: 'Gotham', sans-serif;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.linea{
  width: 30%;
  margin-right: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.funcion{
  width: 50%;
  position: absolute;
  margin-left: 0;
  left: 5%;
  top: 10%;
}

.contenido{
  width: 80%;
  margin-top: 25%;
}

.comencemos{
  width: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .contenedor-function{
    flex-direction: column;
  }
  .funcion {
    content: url('../img/funcion-mobile.png');
    width: 70%;
    margin-left: 10%;
    margin-top: -80px;}
  .contenido{
    content: url('../img/cont-mobile.png');
    margin-top: 120%;
  }
  .comencemos{
    width: 50%;
    margin-top: 50px;
  }
  .linea{
    width: 50%;
  }
}

/* -------------ABOUT---------------- */

.about {
  background-color: #161616;
  font-family: 'Gotham', sans-serif;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.img-about{
  width: 90%;
}

@media (max-width: 768px) {
  .img-about{
    content: url('../img/about-mobile.png');
  }
}
/* -------------SOCIOS---------------- */
.socios {
  background-color: #161616;
  font-family: 'Gotham', sans-serif;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

  .linea2 {
    width: 30%;
    margin-right: 0;
    position: absolute;
    right: 0;
    top: -100px;
    }

  .title-socios {
    width: 60%;
    position: relative;
    margin-bottom: 50px;
    margin-top: 100px;
    padding: 0;
    left: 5%;
    z-index: 1;
  }

  .title-socios img {
    width: 90%;
  }

.video-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: -10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.video-slide {
  position: relative;
}

.video-slide video {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 3px red, 0 0 0 7px white, 0 0 0 10px red;
}
.video-slide::after {
  content: '\25BA';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}

/* -------------PLANES---------------- */

.planes {
  background-color: #161616;
  font-family: 'Gotham', sans-serif;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

.linea3 {
  width: 30%;
  margin-left: 0;
  position: absolute;
  left: 0;
  top: 0;
  }

/* -------------DUDAS---------------- */

  .dudas {
    background-color: #161616;
    background-image: url(../img/fondo-dudas.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gotham', sans-serif;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .dudas-preg{
    width: 80%;
    margin-bottom: 50px;
  }

  .dudas-redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .dudas-redes img{
    width: 50%;
  }

/* -------------FOOTER---------------- */

.footer {
  background-color: #161616;
  background-image: url(../img/fondo-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Gotham', sans-serif;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer img {
  width: 80%;
  margin-top: 50px;
  position: relative;
  z-index: 2;
}

.footer::before {
  content: '';
  background-color: rgba(0); /* Ajusta la opacidad del fondo aquí */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}