@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Bold_0.otf') format('woff2');
}

body {
  background-color: rgb(22, 22, 22);
  font-family: 'Gotham', sans-serif;
}

.seguinos {
  margin-right: 15rem;
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 3px;
}
.img-base{
    width: 100%;
    height: auto;
}

.icono-container {
    position: absolute;
    top: 105%;
    left: 18%;
    display: flex;
  }
  
  .icono-container img {
    width: 40px; 
    margin-right: 1rem;
  }
  
  .icono{
    justify-content: center;
    align-items: center;
    margin-right: 5rem;
    display: flex;
  }

  .caract{
    color: #fff;
  }

@media screen and (max-width: 460px) {
  .seguinos {
    margin-right: 3rem;
    color: #fff;
    font-size: 0.5rem;
    letter-spacing: 0px;
  }

  .icono-container img {
    width: 15px; 
    margin-right: 0.3rem;
  }
  
  .icono-container {
    position: absolute;
    top: 23%;
    left: 18%;
    display: flex;
  }

  .caract{
    color: #fff;
    font-size: 0.4rem;
    justify-content: center;
    align-items: center;

  }

}